<section id="we-guarantee">
  <div class="we-guarantee">
    <div class="container">
      <div class="we-guarantee-texts">
        <h1>We Guarantee</h1>
        <p>Easy financial services wherever you go.</p>
      </div>

      <div class="we-guarantee-boxes">
        <div class="box-1">
          <h4>Quick & Instant</h4>
          <p>
            We provide you with a faster approach to applying for a loan. As
            mentioned earlier, you will get your loan within 24 hours.
          </p>
        </div>

        <div class="box-1">
          <h4>Competitive Interest Rates</h4>
          <p>
            Our interest rates are hard to beat. With us you get more for less.
          </p>
        </div>

        <div class="box-1">
          <h4>Technology Driven</h4>
          <p>
            We have enhanced the loan application process by utilizing
            technology to bring you convenience and speed.
          </p>
        </div>

        <div class="box-1">
          <h4>Convenient & Flexible</h4>
          <p>
            With us you get access to the funds you need through our hassle-free
            and efficient processes.
          </p>
        </div>

        <div class="box-1">
          <h4>Investment Products</h4>
          <p>
            We have expertise across the African and global financial markets.
            The clients we serve trusts us to guide them into a world of
            financial opportunities.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
