



<section id="landing">
  <div class="landing-body">
    <div class="container">
      <app-navbar></app-navbar>
      <div class="landing-content">
        <h1 class="landing-text-1"><span>Enabling</span> Financial Freedom</h1>
    
        <p class="landing-text-2">
          At Revent Global Finance Limited our major aim is to create wealth for the
          community by enabling financial freedom through provision of quick access
          to loans for customers.
        </p>
      </div>

    </div>

  </div>
  
</section>
