<section id="creating-wealth">
  <div class="creating-wealth-content">
    <div class="container">
      <div class="creating-wealth-texts">
        <h3 class="text-1">
          We are Creating Wealth for the Communities We Serve.
        </h3>
        <p class="text-2">
          Revent Global Finance is committed to enabling financial freedom by
          providing tailored financial tools to customers.
        </p>
      </div>

      <div class="creating-wealth-images">

        <div class="image-container salary-loans">
         <img
             src="assets/images/cw-image-1.svg"
            alt="cw-image-1/svg"
            style="width: 100%"
          />
          <div class="image-texts">
            <h4>Salary Loans</h4>
            <p>Learn more</p>
          </div>
        </div>

        <div class="image-container business-loans">
          <img
            src="assets/images/cw-image-2.svg"
            alt="cw-image-2/svg"
            style="width: 100%"
          />
          <div class="image-texts">
            <h4>Business Loans</h4>
            <p>Learn more</p>
          </div>
        </div>

        <div class="image-container investments">
          <img
            src="assets/images/cw-image-3.svg"
            alt="cw-image-3/svg"
            style="width: 100%"
          />
          <div class="image-texts">
            <h4>Investments</h4>
            <p>Learn more</p>
          </div>
        </div>

        <div class="image-container finance-advisory">
          <img
            src="assets/images/cw-image-4.svg"
            alt="cw-image-4/svg"
            style="width: 100%"
          />
          <div class="image-texts">
            <h4>Corporate Finance & Advisory</h4>
            <p>Learn more</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
