<section id="loan">
  <div class="container">
    <div class="loan-texts">
      <h3 class="text-1">How Much Loan do you Need?</h3>
      <p class="text-2">
        The amount on the loan calculator is an initial estimate only. We will
        make you a loan offer based on the information you share with us in your
        loan application.
      </p>
    </div>

    <div class="loan-form">
      <div class="form-repayment">
        <form action="">
          <label for="">What's your employment status?</label> <br />
          <select name="" id="">
            <br />
            <option value="">select</option>
            <option value="">option 2</option>
            <option value="">option 3</option>
          </select>
          <br />

          <label for=""> Whats your monthly income?</label> <br />
          <input type="text" placeholder="₦1,230,000" /> <br />

          <label for="">How much do you want to borrow?</label> <br />
          <input type="text" placeholder="₦1,230,000"/> <br />
          <label for="">How much do you need?</label> <br />
          <input type="text" placeholder="₦"/> <br />
          <label for="">What's the purpose of this loan?</label> <br />
          <select name="" id="">
            <br />
            <option value="">select</option>
          </select>
        </form>

        <div class="monthly-repayment">
          <div class="monthly-repayment-texts">
            <p>Your monthly repayment</p>
            <h3>₦1,230,000.03</h3>
            <button>Apply</button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="loan-texts">
      <h3 class="text-1">How Much Loan do you Need?</h3>
      <p class="text-2">
        The amount on the loan calculator is an initial estimate only. We will
        make you a loan offer based on the information you share with us in your
        loan application.
      </p>
    </div> -->
  </div>
</section>
