<section id="our-story">
  <div class="container">
    <div class="our-story-content">
      <div class="our-story-text">
        <h4>Our story</h4>
        <p>
          Through our Investment Management and Financial Advisory arm, we
          provide a range of tailored investment solutions for clients across
          Nigeria and globally. Leveraging our expertise in technology and the
          financial markets, we continue to provide profitable best-in-class
          investment options
        </p>
      </div>

      <div class="our-story-images">
          <div>
              <img src="assets/images/our-story-1.svg" alt="our-story-1/svg">
          </div>

          <div class="image-section-2">
            <img src="assets/images/our-story-2.svg" alt="our-story-2/svg" style="margin-bottom: 5px;" >
            <img src="assets/images/our-story-3.svg" alt="our-story-3/svg" style="margin-top: 5px;" >
          </div>

          <div>
            <img src="assets/images/our-story-4.svg" alt="our-story-4/svg">
          </div>
      </div>
    </div>
  </div>
</section>
