<section id="leveraging-technology">

        <div class="container">

            <div class="leveraging-technology-content">
            <div class="leveraging-technology-texts">
              <h1>
                Leveraging technology, we help our clients take advantage of safe and
                high yielding investment opportunities:
              </h1>
        
              <div class="tick-texts">
                  <div class="tick-text">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="13" cy="13" r="13" fill="#F6F8FE"/>
                        <path d="M11.375 15.9136L8.69941 13.238L7.55054 14.3869L11.375 18.2113L19.2619 10.3244L18.113 9.17554L11.375 15.9136Z" fill="#056CE8"/>
                        </svg>
        
                        <h5>Fixed income </h5>
                        
                  </div>
        
                  <div class="tick-text">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="13" cy="13" r="13" fill="#F6F8FE"/>
                        <path d="M11.375 15.9136L8.69941 13.238L7.55054 14.3869L11.375 18.2113L19.2619 10.3244L18.113 9.17554L11.375 15.9136Z" fill="#056CE8"/>
                        </svg>
        
                        <h5>Stocks </h5>
                  </div>
        
                  <div class="tick-text">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="13" cy="13" r="13" fill="#F6F8FE"/>
                        <path d="M11.375 15.9136L8.69941 13.238L7.55054 14.3869L11.375 18.2113L19.2619 10.3244L18.113 9.17554L11.375 15.9136Z" fill="#056CE8"/>
                        </svg>
        
                        <h5>Equities</h5>
                  </div>
        
              </div>
        
            </div>
        
            <div >
              <img class="leveraging-technology-image img-fluid" src="assets/images/leveraging-technology-image.svg" alt="leveraging-technology-image/svg"/>
            </div>

            </div>
        </div>
  
</section>
